.navbar {
  display: flex;
  height: 80px;
  background-color: rgb(23, 130, 23);
}

.logo {
  display: flex;
  width: 90px;
  height: 79px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 100%;
}

.Home,
.Services,
.Rendezvous,
.About,
.Contact {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 5px 20px;
  margin: 0 0px;
  cursor: pointer;
}

.mobile-menu-icon {
  display: none;
}

@media screen and (min-width: 600px) {
  .logo {
    margin: 0%;
  }
}

@media screen and (max-width: 780px) {
  .nav-links {
    display: none;
  }

  .logo {
    display: flex;
    position: absolute;
    top: 5px;
    left: 81%;
    width: 89px;
    height: 67px;
  }

  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    background-color:rgb(49, 184, 49);
    text-align: center;
    top: 64px;
    transition: all 0.5s ease-out;
    width: 92%;
  }

  .Home,
  .Services,
  .Rendezvous,
  .About,
  .Contact {
    color: white;
    text-align: center;
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease;
  }

  .mobile-menu-icon {
    display: flex;
    margin: 1%;
    font-size: 60px;
    color: white;
    background-color: rgb(23, 130, 23);
    border: none;
    outline: none;
  }
}
